body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-flow .react-flow__handle {
  width: 10px;
  height: 90%;
  border-radius: 3px;
  background-color: grey;
  border-color: #1f1f1f;
}

.react-flow .react-flow__handle-left {
  left: -5px;
}

.react-flow .react-flow__handle-right {
  right: -5px;
}

.react-flow .react-flow__node.selected {
  background-color: pink !important;
}

.react-flow .react-flow__node-scenarioNode {
  background-color: lightgreen;
}

.react-flow .react-flow__node-departNode {
  background-color: lightgreen;
}

.react-flow .react-flow__node-combatNode {
  background-color: lightblue;
}

.react-flow .react-flow__node-enduranceChangeEventNode {
  background-color: lightsalmon;
}

.react-flow__edge.selected .react-flow__edge-textbg{
  fill:pink;
}

.react-flow__edge .react-flow__edge-textbg{
  fill:lightyellow;
  stroke: black;
  stroke-width: 1px;
}

.react-flow .react-flow__node-combatNode .react-flow__handle-right {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: grey;
  border-color: #1f1f1f;
}

.react-flow .react-flow__node-enduranceChangeEventNode .react-flow__handle-right {
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: grey;
  border-color: #1f1f1f;
}

/* .react-flow__edge rect{
  width: 100px;
  overflow: hidden;
}

.react-flow__edge{
  width: 5px;
  max-width: 10%;
  overflow:hidden
} */



